/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/coverage
/build
/.DS_Store
/app/.DS_Store
/app/Services/service-account-credentials.json
app/Services/.DS_Store
app/Services/image-upload-service-credentials.json
.vscode
